@import 'tailwindcss';
@import '@m3ui/tokens/tokens.css';
@import '@m3ui/tokens/theme.css';

body {
  font-family: system-ui, sans-serif;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
